{%extends 'core/base.html' %}

{% load humanize %}

{% block content %}
    <div class="container" id="feedapp">
        <div class="columns">
            <div class="column is-12">
                <div class="wrapper-form">
                    <form v-on:submit.prevent="submitRot()">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" rows="2" minlength="1" maxlength="255" v-model="body" placeholder="What are you roting?" style="resize:none;"></textarea>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <button class="button is-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="wrapper-rots">
					<div class="rot" v-for="rot in rots">
							<article class="media">
								<figure class="media-left">
									<div class="image is-64x64" style="border: 2px solid #3298dc;">
										<img :src="rot.avatar" style="width:100%;height:100%;object-fit:cover;">
									</div>
								</figure>

								<div class="media-content">
									<div class="content">
										<p>
											<strong><a href="{% url 'RotFrontprofile' request.user.username %}">{{ request.user.username }}</a></strong>
											<small>[[ rot.created_at ]]</small>
											<br>
											[[ rot.body ]]
										</p>
									</div>
								</div>
							</article>
						</div>
                    {% for rot in rots %}
                        <div class="rot">
                            <article class="media">
                                <figure class="media-left">
                                    <div class="image is-64x64" style="border: 2px solid #3298dc;">
                                        {% if rot.created_by.RotFrontprofile.avatar %}
                                            <img src="{{ rot.created_by.RotFrontprofile.avatar.url }}" style="width:100%;height:100%;object-fit:cover;">
                                        {% endif %}
                                    </div>
                                </figure>
    
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong><a href="{% url 'RotFrontprofile' rot.created_by.username %}">{{rot.created_by.username}}</a></strong>
                                            <small>{{rot.created_at|naturaltime}}</small>
                                            <br>
                                            {{rot.body}}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new Vue({
        el: '#feedapp',
        delimiters: ['[[', ']]'],
        data () {
            return {
                rots: [],
                body: '',
                roter: '{{ request.user.username }}',
                created_at: 'Now',
                avatar:'{% if request.user.RotFrontprofile.avatar %}{{ request.user.RotFrontprofile.avatar.url }}{% endif %}'
            }
        },
        methods: {
            submitRot() {
                console.log('submitRot');

                if (this.body.length > 0) {
                    var rot = {
                        'body': this.body,
                        'roter': this.roter,
                        'created_at': this.created_at,
                        'avatar': this.avatar
                    };

                    this.rots.unshift(rot);

                    // Send to backend 
                    fetch('/api/add_rot/',{
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken':'{{ csrf_token }}'
                        },
                        credentials: 'same-origin',
                        body: JSON.stringify(rot)
                    })
                    .then((response)=>{
                        console.log(response);
                    })
                    .catch((error)=>{
                        console.log(error);
                    });
                    this.body = '';
                }
            }
        }
    })
</script>
{% endblock %}